.testimonial-card {
  background: white;
  padding: 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
  transition: transform 0.2s;
  p {
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);

    span {
      position: absolute;
      top: -0.5rem;
      left: -1.875rem;
      color: var(--base-color);
  
      font: 700 3rem serif;
    }
  }

  cite {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 2rem;
      height: 2rem;
    }
  }

  &:hover {
    transform: translateY(-7px);
    border: 0.2rem solid var(--base-color);
  }
}
