@import "../utils/sass/vendor";
@import "./home.scss";
@import "./about.scss";
@import "./services.scss";

/* ==== Reset ================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ==== Variables ============================== */

:root {
  --hue: 270;
  /* HSL colors */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  --divider-background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );

  --reverted-divider-background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* ==== Base ================================== */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  background: var(--body-color);
  color: var(--text-color);

  @include vendor(font-smoothing, auto, webkit moz);
}

h1 {
  font: 700 1.875rem "Poppins", sans-serif;
  color: var(--title-color);
}

.icon-stroke {
  stroke: var(--base-color);
}

.icon-fill {
  path {
    fill: var(--base-color);
  }
}

/* ==== Layout ================================== */

#page-main {
  .logo {
    font: 700 1.31rem "Poppins", sans-serif;
    color: var(--title-color);

    span {
      color: var(--base-color);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
  }

  .container {
    width: 90%;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .grid {
    display: grid;
    gap: 2rem;
  }

  .section {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
  }

  .title {
    font: 700 2rem "Poppins", sans-serif;
    color: var(--title-color);
  }
}
