/* ==== Services ============= */

#services {
  overflow: hidden;

  .container {
    margin: 0;
  }

  header {
    h2 {
      &.title {
        font-size: 2rem;
      }
    }
  }

  .cards {
    &.grid {
      gap: 1.5rem;
    }
  }
}
