.header-container {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 2;
  background: var(--body-color);

  top: 0;
  left: 0;
  
  max-height: 4.5rem;
  transition: max-height 0.4s ease-in-out;
  
  nav {
    height: 4.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &.scroll {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    max-height: 5rem;

    nav {
      height: 5rem;
    }
  }
}
